name: Linkalho Release - 20251120

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkita64:latest

    steps:
    - name: Update system packages
      run: |
        sudo -n apt-get update
        sudo -n apt-get upgrade -y git build-essential
      shell: bash

    - name: Clone and install latest libnx
      run: |
        git config --global --add safe.directory "*"
        git clone --recurse-submodules https://github.com/switchbrew/libnx.git
        cd libnx
        make install -j$(nproc)
      shell: bash

    - name: Checkout project
      uses: actions/checkout@master
      with:
        submodules: recursive

    - name: Extract version from Makefile
      run: |
        APP_VERSION=$(grep "^APP_VERSION\s*:=" Makefile | cut -d'=' -f2 | sed 's/[[:space:]]//g')
        echo "APP_VERSION=${APP_VERSION}" >> $GITHUB_ENV
        echo "TAG=v${APP_VERSION}" >> $GITHUB_ENV
      shell: bash

    - name: Build project
      run: |
        git config --global --add safe.directory `pwd` && \
        make -j$(nproc)
      shell: bash

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Linkalho ${{ env.APP_VERSION }}
        path: ./linkalho.nro

    - name: Upload release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: ./linkalho.nro
        tag: ${{ env.TAG }}
        release_name: Linkalho v${{ env.APP_VERSION }}
        overwrite: true
        file_glob: false
